body {
  color: azure;
  background: lightsteelblue;
  text-align: left;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 10%; }
  body h1 {
    color: #4169b4;
    margin-top: 10px;
    margin-bottom: 15px; }
  body h2 {
    color: #4169b4;
    margin-top: 10px;
    margin-bottom: 10px; }
  body h3 {
    color: #4169b4;
    margin-top: 10px;
    margin-bottom: 0px; }
  body p {
    color: azure;
    padding-right: 30px; }
  body ul {
    list-style-type: disc; }
  body a {
    text-decoration: underline; }
    body a:hover {
      color: azure; }
  body img {
    border-radius: 50%; }
